{% extends "base_template.html" %}
{% block content %}
  <div class="site-blocks-cover overlay aos-init aos-animate" style="background-image: url('/static/cleaner/images/main.jpg');" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="400">
            <h1 class="mb-4">로보클린에 오신것을 </br>환영합니다</h1>
            <p><a href="#" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary px-4 py-3">시연 신청 받기</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-12 mx-auto">
            <h2 class="mb-5">로보클린(Roboclean)</h2>
            <p>로보클린청소기는 다기능 청소기계입니다.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/static/cleaner/images/img_1.jpg');"></div>
              
            </a>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/static/cleaner/images/img_2.jpg');"></div>
              
            </a>
          </div>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/static/cleaner/images/img_3.jpg');"></div>
              
            </a>
          </div>
          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/static/cleaner/images/img_4.jpg');"></div>
              
            </a>
          </div>



          <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="400">
            <p style="font-size: x-large;">로보클린은 침대, 침구, 거실, 커튼, 바닥, 욕실등 집안 모든곳의 청소가 가능한 제품입니다.
로보클린 청소기 하나로 공기정화까지 99.99% 완벽제거 가능합니다.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">

      <div class="container">

        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
            <h2 class="mb-5">Featured Podcasts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
          </div>
        </div>

        <div class="site-block-retro d-block d-md-flex">

          <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
            <div class="image" style="background-image: url('/static/cleaner/images/img_2.jpg');"></div>
            <div class="unit-9-content">
              <h2>Classic Songs For Classic People</h2>
              <span>Friday 1:00pm &mdash; 2:30pm</span>
            </div>
          </a>

          <div class="col2 ml-auto">

            <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
              <div class="image" style="background-image: url('/static/cleaner/images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Classic Songs For Classic People</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
              </div>
            </a>

            <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
              <div class="image" style="background-image: url('/static/cleaner/images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Classic Songs For Classic People</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
              </div>
            </a>

          </div>

        </div>

      </div>
    </div>


    <div class="site-section bg-dark block-13">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Love By Our Listeners</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
          </div>
        </div>
        <div class="nonloop-block-13 owl-carousel">

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Megan Smith</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brooke Cagle</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_3.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Philip Martin</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Steven Ericson</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Nathan Dumlao</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">
              <img src="/static/cleaner/images/person_4.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brook Smith</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:x-large;">시연 신청</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="color:black;">
            <form role="form" method="POST" action="/send/">
                {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">이름</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_name" type="text" class="form-control input-lg" name="name" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">연락처</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_contact" type="text" class="form-control input-lg" name="contact" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-Mail</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_email" type="email" class="form-control input-lg" name="email" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">방문 희망일</label> <small style="color:crimson;">*</small>
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="request_date" size="16" type="text" name="date_time" placeholder="2000-01-01" readonly class="form_datetime" required/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label">주소</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_addr" type="text" class="form-control input-lg" name="address" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">보내기</button>
                    </div>
              </form>
          </div>

        </div>
      </div>
    </div>
    <script>
    function sendEmail()
    {

    }
    </script>
{% endblock %}