{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>로보클린</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='{% static "cleaner/js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "cleaner/js/jquery-migrate-3.0.1.min.js" %}'></script>
    <script src='{% static "cleaner/js/jquery-ui.js" %}'></script>
    <script src='{% static "cleaner/js/bootstrap-datepicker.min.js" %}'></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700">
    <link rel="stylesheet" href='{% static "cleaner/fonts/icomoon/style.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/jquery-ui.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/owl.theme.default.min.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/bootstrap-datepicker.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/mediaelementplayer.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/fonts/flaticon/font/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/fl-bigmug-line.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/aos.css" %}'>
    <link rel="stylesheet" href='{% static "cleaner/css/style.css" %}'>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <style>
        .floating{
            position: fixed;
            right: -77px;
            bottom: 200px;
            transition: all 0.2s ease-in 0s;//this is the key attribute
            z-index: 9999;
            cursor: pointer;
        }
        .floating:hover{
            right: -7px;//hide it by pushing it off the screen
        }
        #about {
          width: 100%;
          height: 800px;
        }
    </style>
  </head>
  <body>



  <div class="site-wrap">

    <div class="site-navbar mt-5">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-8 col-md-8 col-lg-4">
              <h1 class="mb-0"><a href="" class="text-white h2 mb-0"><strong>Roboclean<span class="text-primary">.</span></strong></a></h1>
            </div>
            <div class="col-4 col-md-4 col-lg-8">
              <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="active">
                    <a href="/">Home</a>
                  </li>
                  <li><a href="/about">회사소개</a></li>
                  <li><a href="/roboclean">Roboclean</a></li>
                  <li><a data-toggle="modal" data-target="#exampleModalLong">시연 신청</a></li>
                  <li><a data-toggle="modal" data-target="#exampleModalLong2">문의하기</a></li>
                </ul>
              </nav>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    

    {% block content %}
    {% endblock content %}



    <footer class="site-footer">
      <div class="container">

        <div class="row pt-5 mt-5 text-center">

          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src='{% static "/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js" %}'></script><script>document.write(new Date().getFullYear());</script> All rights reserved | Reamke by ironhiro | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
    
  </div>
   <p class="floating"><a href="#" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-primary px-4 py-3" style="color: white">시연  신청</a></p>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <script src='{% static "cleaner/js/popper.min.js" %}'></script>
  <script src='{% static "cleaner/js/bootstrap.min.js" %}'></script>
  <script src='{% static "cleaner/js/owl.carousel.min.js" %}'></script>
  <script src='{% static "cleaner/js/mediaelement-and-player.min.js" %}'></script>
  <script src='{% static "cleaner/js/jquery.stellar.min.js" %}'></script>
  <script src='{% static "cleaner/js/jquery.countdown.min.js" %}'></script>
  <script src='{% static "cleaner/js/jquery.magnific-popup.min.js" %}'></script>

  <script src='{% static "cleaner/js/aos.js" %}'></script>
  <script src='{% static "cleaner/js/main.js" %}'></script>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script type="text/javascript">
    $.fn.datepicker.dates['ko'] = {
    months: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
    monthsShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
    days: ['일','월','화','수','목','금','토'],
    daysShort: ['일','월','화','수','목','금','토'],
    daysMin: ['일','월','화','수','목','금','토'],
};
    $(".form_datetime").datepicker({
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        language: 'ko',
        autoclose: true
    });

    $(".modal").on("hidden.bs.modal", function(){
        $(this).find('form').trigger('reset');
    });

    
</script>
  <!-- Modal -->
    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:x-large;">문의 사항</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="color:black;">
            <form role="form" method="POST" action="/ask/">
                {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">이름</label> <small style="color:crimson;">*</small>
                        <div>
                            <input  type="text" class="form-control input-lg" name="name" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">연락처</label> <small style="color:crimson;">*</small>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-Mail</label> <small style="color:crimson;">*</small>
                        <div>
                            <input type="email" class="form-control input-lg" name="email" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">문의사항</label> <small style="color:crimson;">*</small>
                        <div>
                            <textarea type="text" class="form-control input-lg" name="question" value="" cols="40" rows="8" reqruired>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">보내기</button>
                    </div>
              </form>
          </div>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:x-large;">시연 신청</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="color:black;">
            <form role="form" method="POST" action="/send/">
                {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">이름</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_name" type="text" class="form-control input-lg" name="name" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">연락처</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_contact" type="text" class="form-control input-lg" name="contact" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-Mail</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_email" type="email" class="form-control input-lg" name="email" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">방문 희망일</label> <small style="color:crimson;">*</small>
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="request_date" size="16" type="text" name="date_time" placeholder="2000-01-01" readonly class="form_datetime" required/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label">주소</label> <small style="color:crimson;">*</small>
                        <div>
                            <input id="request_addr" type="text" class="form-control input-lg" name="address" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">보내기</button>
                    </div>
              </form>
          </div>

        </div>
      </div>
  </body>
</html>
